{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <title>Messages Card</title>
</head>

<body>
    <h1 style="text-align: center;">Messages Card</h1>

    <div class="diplay">
      <div class="baris">
        {% for note in notes %}
          <div class="col-3 mb-3 mr-5 ml-4">
            <div class="card bg-light border-dark mb-3">
              <div class="card-body">
                <h3 class="card-title">{{ note.tittle }}</h3>
                <h6 class="card-text">To: {{ note.to }}</h6>
                <h6 class="card-text">From: {{ note.from_char }}</h6>
                <p class="card-text">{{ note.message }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</body>
</html>

<!-- Reference: https://getbootstrap.com/docs/4.0/getting-started/introduction and Charles P-->