{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Add Note</title>
  </head>
  
  <body>
    <h1 style="text-align: center;">Add Note</h1>

    <div class="formulir">
      <form id="nform" action="" method="POST">
        {% csrf_token %}
        <div id="form-input">
          <label for="to">To:</label>
          <br>
          <input type="text" name="to" maxlength="100" id="to">
          <br><br>
          <label for="from_char">From:</label>
          <br>
          <input type="text" name="from_char" maxlength="100" id="from_char">
          <br><br>
          <label for="tittle">Title:</label>
          <br>
          <input type="text" name="tittle" maxlength="100" id="tittle">
          <br><br>
          <label for="message">Message:</label>
          <br>
          <input type="text" name="message" maxlength="1000" id="message">
          <br><br>
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </body>
</html>