{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <title>Messages Table</title>
  </head>

  <body>
  <h1 style="text-align: center;">Messages Table</h1>
  <div class="tabel">
      <table>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        
        {% for note in notes %}
          <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.from_char }}</td>
            <td>{{ note.tittle }}</td>
            <td>{{ note.message }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>