<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
  </head>
  <body>
    <h1>Add Friend</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="temp">Name:</label>
        <input type="text" name="name"><br><br>
        <!--{{form.name}}-->
        <label for="temp">NPM:</label>
        <input type="text" name="npm"><br><br>
        <label for="temp">Date of Birth:</label>
        <input type="date" name="DOB"><br><br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>