<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Tittle</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if data %} 
		    {% for isi in data %}
        <tr>
          <td>{{ isi.to }}</td>
          <td>{{ isi.from_char }}</td>
          <td>{{ isi.tittle }}</td>
          <td>{{ isi.message }}</td>
        </tr>
		      <br/>
		      {% endfor %}
	      {% endif %}
    </table>
  </body>
</html>
