body{
    background-color:#c7a284;
    color: black;
    font-family: Georgia;
}

.formulir{
    width: 100%;
    margin: 2rem auto 0 auto;
}

#nform{
    background-color: #7fe95e;
}

#message{
    width: 600px; 
    height: 200px;
}

@media(min-width: 640px){
    .formulir{
      max-width: 720px
    }
}