body{
    background-color:#c7a284;
    margin: 0;
    color: black;
    font-family: Georgia;
}

table {
    width: 100%;
    margin: 0 auto 100px auto;
    border: 1px solid black;
}

th {
    background-color: #043eaa;
    color: white;
    text-align: center;
    border: 1px solid black;
    padding: 20px;

}

tr:nth-child(even) {
    background-color: #5ad1daf3;
}

tr:nth-child(odd) {
    background-color: #5ad1daf3;
}

td {
    border: 1px solid black;
    padding: 20px;
}